*{
    border: none;
    box-sizing: border-box;
}
a:hover, a:active{
    color: orange;
}
body, html,#root{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background:  #EDEDF3;
}
#root{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
